a.main__btn(href="#") Авторизоваться
.main
    .main__top
        .main__top-ava
        span.top_name.
            #{name}

        span.top__occup Личный сайт веб разработчика
        include ../sections/links
    .main__bot
        include ../sections/nav

